---
import { Picture } from 'astro:assets'
---

<footer id="site-footer" class="section site-footer">
  <Picture
    src={import('../assets/images/popletts-logo-384.png')}
    formats={['avif', 'webp']}
    alt="Poplett's logo"
    sizes="150px"
    widths={[150]}
    class="site-footer-logo"
  />

  <h2 class="site-footer-heading">Contact Us</h2>
  <p>
    <a href="mailto:poplettsgrooming@gmail.com">poplettsgrooming@gmail.com</a>
  </p>
  <p><a href="tel:+44771 334 5389">0771 334 5389</a></p>
  <address>
    20 Plumpton Walk, Bradford<br />
    BD2 1PB
  </address>
  <div class="social-icons">
    <a
      class="social-icon-link"
      href="https://www.facebook.com/people/Popletts-Dog-Grooming/61564858483515/"
      target="_blank"
      aria-label="Visit Poplett's Dog Grooming on Facebook"
    >
      <svg
        class="social-icon"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 50 50"
      >
        <path
          d="M25,3C12.85,3,3,12.85,3,25c0,11.03,8.125,20.137,18.712,21.728V30.831h-5.443v-5.783h5.443v-3.848 c0-6.371,3.104-9.168,8.399-9.168c2.536,0,3.877,0.188,4.512,0.274v5.048h-3.612c-2.248,0-3.033,2.131-3.033,4.533v3.161h6.588 l-0.894,5.783h-5.694v15.944C38.716,45.318,47,36.137,47,25C47,12.85,37.15,3,25,3z"
        >
        </path>
      </svg>
    </a>
    <a
      class="social-icon-link"
      href="https://www.instagram.com/popletts_grooming/"
      target="_blank"
      aria-label="Visit Poplett's Dog Grooming on Instagram"
    >
      <svg
        class="social-icon"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 50 50"
      >
        <path
          d="M 16 3 C 8.83 3 3 8.83 3 16 L 3 34 C 3 41.17 8.83 47 16 47 L 34 47 C 41.17 47 47 41.17 47 34 L 47 16 C 47 8.83 41.17 3 34 3 L 16 3 z M 37 11 C 38.1 11 39 11.9 39 13 C 39 14.1 38.1 15 37 15 C 35.9 15 35 14.1 35 13 C 35 11.9 35.9 11 37 11 z M 25 14 C 31.07 14 36 18.93 36 25 C 36 31.07 31.07 36 25 36 C 18.93 36 14 31.07 14 25 C 14 18.93 18.93 14 25 14 z M 25 16 C 20.04 16 16 20.04 16 25 C 16 29.96 20.04 34 25 34 C 29.96 34 34 29.96 34 25 C 34 20.04 29.96 16 25 16 z"
        ></path>
      </svg>
    </a>
  </div>
  <p>
    <span>&copy; Poplett's Dog Grooming | Website by</span>
    <a class="site-footer-link" href="https://www.danielapinzonguzman.com">
      Daniela Pinzon
    </a>
  </p>
</footer>

<style>
  .site-footer {
    background-color: var(--colour-turquoise);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.5em;
  }

  .site-footer-logo {
    width: 150px;
    height: auto;
  }

  .site-footer-heading {
    font-family: var(--font-family-body);
    font-size: 1rem;
    font-weight: 800;
    color: var(--font-colour-body);
    text-transform: uppercase;
  }

  .site-footer .social-icons {
    margin-block: 1rem;
  }

  .site-footer-link:hover {
    text-decoration: underline;
  }
</style>
