---
interface Props {
  author: string
  avatar: string
  children: any
}

const { author, avatar } = Astro.props
---

<div class="google-review">
  <div class="google-review-header">
    <img
      class="google-review-avatar"
      width="40"
      height="40"
      loading="lazy"
      decoding="async"
      src={avatar}
      alt={`${author} avatar`}
    />
    <p class="google-review-name">{author}</p>
  </div>
  <div class="google-review-stars" aria-label="Rated 5 out of 5" role="img">
  </div>
  <p><slot /></p>
</div>

<style>
  .google-review {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    height: 100%;
    background-color: var(--colour-turquoise);
    border-radius: 20px;
    padding: 2rem;
    font-size: 1.1rem;
  }

  .google-review-header {
    display: flex;
  }

  .google-review-avatar {
    display: block;
    width: 40px;
    height: 40px;
    margin-right: 8px;
  }

  .google-review-name {
    font-weight: 800;
  }

  .google-review-stars {
    --height: 18px;
    --width: calc(var(--height) * 1.228);
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 23.44 19'><polygon fill='%23fbbc04' points='10,15.27 16.18,19 14.54,11.97 20,7.24 12.81,6.63 10,0 7.19,6.63 0,7.24 5.46,11.97 3.82,19'/></svg>");
    background-size: var(--width) var(--height);
    background-repeat: repeat-x;
    width: calc(var(--width) * 5);
    height: var(--height);
  }
</style>
