---
import { Picture } from 'astro:assets'
import { url } from '../utils'

const links = [
  { href: url('/'), text: 'Home' },
  { href: url('#our-services'), text: 'Services' },
  { href: url('/about-me'), text: 'About' },
  { href: '#site-footer', text: 'Contact' },
]
---

<nav class="site-nav-primary">
  <div class="container site-nav-container">
    <a href={url('/')}>
      <Picture
        src={import('../assets/images/popletts-logo-384.png')}
        alt="Poplett's logo"
        sizes="(max-width: 383px) 50vw, 192px"
        class="site-nav-logo"
      />
    </a>

    <div class="site-nav-links">
      {
        links
          .filter((link) => link.href !== Astro.url.href)
          .map((link) => (
            <a class="site-nav-link" href={link.href}>
              {link.text}
            </a>
          ))
      }
      <a href="tel:+447713345389" class="btn-secondary site-nav-btn">
        Call 07713345389
      </a>
    </div>

    <button
      id="site-nav-hamburger"
      class="site-nav-hamburger"
      aria-label="Open navigation"
    >
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none">
        <path
          d="M4 18L20 18"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"></path>
        <path
          d="M4 12L20 12"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"></path>
        <path
          d="M4 6L20 6"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"></path>
      </svg>
    </button>
  </div>

  <div class="mobile-site-nav">
    {
      links
        .filter((link) => link.href !== Astro.url.href)
        .map((link) => (
          <a class="mobile-site-nav-link" href={link.href}>
            {link.text}
          </a>
        ))
    }
    <a href="tel:+447713345389" class="btn-secondary mobile-site-nav-btn">
      Call 07713345389
    </a>

    <button
      id="mobile-site-nav-close"
      class="mobile-site-nav-close"
      aria-label="Close navigation"
    >
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none">
        <path
          d="M19 5L5 19M5.00001 5L19 19"
          stroke="#000000"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
      </svg>
    </button>
  </div>
</nav>

<style>
  .site-nav-primary {
    position: relative;
    z-index: 100;
  }

  .site-nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .site-nav-logo {
    width: 192px;
    height: auto;
    max-width: 50vw;
  }

  .site-nav-links {
    display: flex;
    align-items: baseline;
  }

  .site-nav-link,
  .site-nav-btn,
  .mobile-site-nav-link,
  .mobile-site-nav-btn {
    font-size: 1.1rem;
    font-weight: 600;
    transition: color 0.1s ease-out;
  }

  .site-nav-link {
    padding-block: calc(0.25rem + 2px);
    padding-inline: 1.25rem;
  }

  .site-nav-link:hover,
  .mobile-site-nav-link:hover {
    color: var(--colour-orange);
  }

  .site-nav-btn {
    margin-left: 1.25rem;
  }

  .site-nav-hamburger {
    width: 50px;
    padding: 10px;
    display: none;
  }

  .site-nav-hamburger svg {
    display: block;
  }

  .mobile-site-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem;
    transform: translateX(-100%);
    transition: transform 0.2s ease-out;
  }

  .site-nav-primary .mobile-site-nav {
    background-color: var(--colour-turquoise);
  }

  .site-nav-secondary .mobile-site-nav {
    background-color: var(--colour-grey);
  }

  body.show-mobile-nav .mobile-site-nav {
    transform: translateX(0);
  }

  .mobile-site-nav-close {
    position: absolute;
    top: 18px;
    right: 1rem;
    width: 50px;
    padding: 10px;
  }

  .mobile-site-nav-close svg {
    display: block;
  }

  @media (max-width: 815px) {
    .site-nav-links {
      display: none;
    }

    .site-nav-hamburger {
      display: block;
    }
  }

  @media (min-width: 816px) {
    .mobile-site-nav {
      display: none;
    }
  }
</style>

<script>
  const siteNavHamburger = document.querySelector('#site-nav-hamburger')
  const mobileSiteNavClose = document.querySelector('#mobile-site-nav-close')
  const mobileSiteNavLinks = document.querySelectorAll(
    '.mobile-site-nav-link'
  ) as NodeListOf<HTMLAnchorElement>

  siteNavHamburger?.addEventListener('click', () => {
    document.body.classList.add('show-mobile-nav')
  })

  mobileSiteNavClose?.addEventListener('click', () => {
    document.body.classList.remove('show-mobile-nav')
  })

  for (const mobileSiteNavLink of mobileSiteNavLinks) {
    const url = new URL(mobileSiteNavLink.href)

    if (isInternalPageLink(url)) {
      mobileSiteNavLink.addEventListener('click', () => {
        document.body.classList.remove('show-mobile-nav')
      })
    }
  }

  function isInternalPageLink(url: URL) {
    return (
      url.origin === window.location.origin &&
      url.pathname === window.location.pathname
    )
  }
</script>
